In [6]:
def calculate_average(number):
    if not number:
        return 0
    return sum(number)/len(number)

# Example usage:
print(calculate_average([5, 10, 15, 20]))  # Should return 12.5
print(calculate_average([]))  # Should return 0

12.5
0

In [10]:
def greet_user(name,greeting="Hello"):
    return f"{greeting},{name}"

# Example usage:
print(greet_user("Alice"))  # Should return "Hello, Alice!"
print(greet_user("Bob", "Hi"))  # Should return "Hi, Bob!"

Hello,Alice
Hi,Bob

In [14]:
def calculate_total(*prices, discount=0):
    total=sum(prices)
    if discount:
        total-=total*(discount/100)
    return total

# Example usage:
print(calculate_total(10, 20, 30))  # Should return 60
print(calculate_total(10, 20, 30, discount=10))  # Should return 54 (10% off)

60
54.0

In [17]:
def create_multiplier(factor):
    def multiplier(number):
        return number*factor
    return multiplier

double = create_multiplier(2)
print(double(5))  # Output: 10

triple = create_multiplier(3)
print(triple(4))  # Output: 12

10
12